# compphys
compphys/src
compphys/notes

# MD
MD/examples

# Signal_processing
signal_processing/ThinkDSP
signal_processing/*.wav

# Virtual envs
**/devenv/

# JITs
**/__pycache__

# Jupyter notebooks
*.ipynb_checkpoints

# Data
*.csv

# Tex
*.aux
*.dvi
*.log
*.gz
*.toc
